@import "./variables";

/* estilos por defecto de la etiqueta root */
#root {
  color: $font-color-default;
  font-family: $font-family-default;
  background-color: $background-color-default-light;
  #content {
    display: flex;
    #indice {
      margin: 0 20px 0 0;
      padding: 0 0 0 50px;
      background-color: $color-primary-one;
      width: 20%;
      height: 100%;
      ul {
        padding: 20px;
      }
      li {
        list-style: none;
      }
      a {
        color: $color-primary-six;
        font-size: 17px;
      }
    }
    #article {
      width: 90%;
    }
  }
}

a {
  text-decoration: none;
  color: $color-primary-five;
}
h1,
h2,
h3 {
  color: #333333;
  font-family: $font-family-default;
}

/* Estilos por default */
.ul-li-none {
  list-style: none;
}
.ul-li-a-none {
  text-decoration: none;
}

.url-link {
  color: $color-primary-three;
}

/* INDICE */
#indice {
  display: block;
  height: 100%;
}
