/* Variables */
$font-color-default: #111111;
$font-family-default: "Lato", "Roboto", "segoe UI", arial, helvetica, sans-serif;
$background-color-default-light: #ffffff;

/* Colores Primarios */
$color-primary-one: #6705c6;
$color-primary-two: #2936c3;
$color-primary-three: #1cdccd;
$color-primary-four: #13f3f0;
$color-primary-five: #02b6ff;
$color-primary-six: #d4fcf4;
$color-primary-seven: #3ba1ad;
$color-primary-eight: #015759;

/* Importando fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap"); // Lato
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap"); // Roboto

/* estilos por defecto de la etiqueta root */
#root {
  color: $font-color-default;
  font-family: $font-family-default;
  background-color: $background-color-default-light;
  font-style: normal;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: $color-primary-five;
}
h1,
h2,
h3 {
  color: #333333;
  font-family: $font-family-default;
}

/* Estilos por default */
.ul-li-none {
  list-style: none;
}
.ul-li-a-none {
  text-decoration: none;
}

.url-link {
  color: $color-primary-three;
}

/* INDICE */
#indice {
  display: block;
  height: 100%;
}
