/* Variables */
/* Colores Primarios */
/* Importando fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
/* estilos por defecto de la etiqueta root */
#root {
  color: #111111;
  font-family: "Lato", "Roboto", "segoe UI", arial, helvetica, sans-serif;
  background-color: #ffffff;
  font-style: normal;
  font-size: 100%; }

a {
  text-decoration: none;
  color: #02b6ff; }

h1,
h2,
h3 {
  color: #333333;
  font-family: "Lato", "Roboto", "segoe UI", arial, helvetica, sans-serif; }

/* Estilos por default */
.ul-li-none {
  list-style: none; }

.ul-li-a-none {
  text-decoration: none; }

.url-link {
  color: #1cdccd; }

/* INDICE */
#indice {
  display: block;
  height: 100%; }
